
<div class="sidebar">
    <h1 style="font-size: 1.5rem;">{{title}}</h1>
    <div class="btn-group-vertical">
        <button id="all_allocations" class="btn btn-secondary" (click)="showAllocations()">All Allocations</button><br>
        <button id="items" class="btn btn-secondary" (click)="showItems()">Items</button><br>
        <button id="projects" class="btn btn-secondary" (click)="showProjects()">Projects</button><br>
        <button id="projects" class="btn btn-secondary" (click)="showUsers()">Users</button>
    </div>
</div>